.form-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
}

.form-input:focus {
  outline: none;
  border-color: rgb(0, 123, 255);
}
