.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.form-input:focus {
  outline: none;
  border-color: rgb(0, 123, 255);
}

.input-container label {
  font-weight: bold;
  font-size: 18px;
}
